<div class="page-wrapper chiller-theme toggled">
  <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
    <i class="fas fa-bars"></i>
  </a>
  <nav id="sidebar" class="sidebar-wrapper">
    <div class="sidebar-content">
      <div class="sidebar-brand">
        <a routerLink="">naučna centrala</a>
      </div>
      <div class="sidebar-header" *ngIf="currentUser$ | async as user">
        <div class="user-info">
          <span class="user-name">Korisnik: {{user.ime}} {{user.prezime}}</span>
          <span class="user-role">Uloga: {{user.role}}</span>
          <div class="row">
            <button class="btn btn-outline-primary mt-3 mb-3 ml-5" (click)="logout()" *ngIf="currentUser$ | async as user">Odjava</button>  
          </div>
        </div>
      </div>
      <div class="row">
        <button class="btn btn-outline-primary mt-3 mb-30 ml-5" *ngIf="authenticationService.currentUserValue == null" routerLink="/login">Prijava</button>  
      </div>
      <div class="row">
        <button class="btn btn-outline-success mt-3 ml-5" *ngIf="authenticationService.currentUserValue == null" routerLink="/registration">Registracija</button>
      </div>
      
      <ng-container *ngIf="currentUser$ | async as user">
        <div class="sidebar-menu" *ngIf="user.role=='Administrator'">
          <ul>
            <li>
              <a routerLink="/tasks">
                <i class="fa fa-tasks"></i>
                <span>Zadaci</span>
              </a>
            </li>
          </ul>
        </div>
      </ng-container>
      <ng-container *ngIf="currentUser$ | async as user">
        <div class="sidebar-menu" *ngIf="user.role=='Urednik'">
          <ul>
            <li>
              <a routerLink="/tasks">
                <i class="fa fa-tasks"></i>
                <span>Zadaci</span>
              </a>
            </li>
            <li>
              <a routerLink="/myPapers">
                <i class="fas fa-address-book"></i>
                <span>Moji časopisi</span>
              </a>
            </li>
            <li>
              <a routerLink="/newPaper">
                <i class="fas fa-book"></i>
                <span>Novi časopis</span>
              </a>
            </li>
          </ul>
        </div>
      </ng-container>
    </div>
  </nav>
  <main class="page-content">
    <div class="container-fluid">
      <notifier-container></notifier-container>
      <router-outlet></router-outlet>
    </div>
  </main>
</div>