<div class="container">
  <div class="row mt-5">
    <h2 class="text-primary" *ngIf="tasks.length==0">Trenutno nema aktivnih zadataka.</h2>
    <h2 class="text-primary mb-5" *ngIf="tasks.length!=0">Zadaci:</h2>
  </div>
  <ng-container *ngFor="let t of tasks; let i = index">

    <!--POTVRDA RECENZENTA-->
    <div class="card" *ngIf="t.id=='potvrdaRecenzenta'">
      <div class="card-header">
        <h5>Potvrda recenzenta</h5>
      </div>
      <div class="card-body">
        <div class="row ml-2">
          <p>
            Da li zelite da odobrite sledeceg recenzenta?
          </p>
        </div>
        <div class="row ml-2">
          <label>Korisnik: <b>{{t.user}}</b></label>
        </div>
        <div class="row mt-5 ml-2">
          <button class="btn btn-success" (click)="potvrdaRecenzenta(t.instanceId,true,i)">Prihvati</button>
          <button class="btn btn-danger ml-2" (click)="potvrdaRecenzenta(t.instanceId,false,i)">Odbij</button>
        </div>
      </div>
    </div>

    <!--Unos urednika i recenzenata-->
    <div class="card" *ngIf="t.id=='unosUrednikaIRecenzenata'">
      <div class="card-header">
        <h5>Unos urednika i recenzenata</h5>
      </div>
      <div class="card-body">
        <div class="row ml-2">
          <p>
            Potrebno je uneti recenzente i dodatne urednike časopisa.
          </p>
        </div>
        <div class="row mt-5 ml-2">
          <button class="btn btn-primary" routerLink="/newPaper/{{t.processId}}">Izvrsi</button>
        </div>
      </div>
    </div>

    <!--AKTIVACIJA CASOPISA-->
    <div class="card" *ngIf="t.id=='aktivacijaCasopisa'">
      <div class="card-header">
        <h5>Aktivacija časopisa</h5>
      </div>
      <div class="card-body">
        <div class="row ml-2">
          <p>
              Da li zelite da odobrite sledeci casopis?
          </p>
        </div>
        <div class="row ml-2">
          <table>
            <tr>
              <td>Naziv: </td>
              <td><b>{{t.naziv}}</b></td>
            </tr>
            <tr>
              <td>Glavni urednik: </td>
              <td><b>{{t.glavniUrednik}}</b></td>
            </tr>
            <tr>
              <td>Članarina: </td>
              <td><b>{{t.clanarina}} $</b></td>
            </tr>
            <tr>
              <td>Ko plaća članarinu: </td>
              <td><b>{{t.komeSeNaplacuje}}</b></td>
            </tr>
            <tr>
              <td>Načini plaćanja: </td>
              <td><b>{{t.naciniPlacanja}}</b></td>
            </tr>
            <tr>
              <td>Naučne oblasti: </td>
              <td><b>{{t.naucneOblasti}}</b></td>
            </tr>
            <tr>
              <td>Recenzenti: </td>
              <td><b>{{t.recenzenti}}</b></td>
            </tr>
            <tr>
              <td>Urednici: </td>
              <td><b>{{t.urednici}}</b></td>
            </tr>
          </table>
        </div>
        <div class="row mt-5 ml-2">
          <button class="btn btn-success" (click)="aktivacijaCasopisa(t.instanceId,true,i)">Aktiviraj</button>
          <button class="btn btn-danger ml-2" (click)="aktivacijaCasopisa(t.instanceId,false,i)">Vratiti na doradu</button>
        </div>
      </div>
    </div>

    <!--Prepravka casopisa-->
  <div class="card" *ngIf="t.id=='formaCasopisa'">
    <div class="card-header">
      <h5>Izmena informacija o časopisu</h5>
    </div>
    <div class="card-body">
      <div class="row ml-2">
        <p>
          Administrator je nalozio ispravku informacija o časopisu. Molimo izmenite unete podatke.
        </p>
      </div>
      <div class="row mt-5 ml-2">
        <button class="btn btn-primary" routerLink="/correction/{{t.processId}}">Izvrsi</button>
      </div>
    </div>
  </div>
</ng-container>
</div>